@import "../../styles/variables";

.videoGrid {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: left;
  width: 245px;
  margin-bottom: 28px;

  a {
    color: black;
  }
}

.videoGrid .preview {

  img {
    width: 245px;
    height: 137px;
  }
}

.videoGrid .title {
  font-weight: $fontBold;
}

.videoGrid .desc {
  display: flex;
  flex-direction: column;
  color: #b4b4b4;
  gap:5px;

  a {
    color: #b4b4b4;
  }
}
