@import "../../styles/variables";

.videoGrid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: left;
  width: 245px;
  margin-bottom: 28px;
}

.videoGrid .preview {

  img {
    width: 245px;
    height: 137px;
  }
}

.videoGrid .title {
  font-weight: $fontBold;
}
.videoGrid .info {
  color: #b4b4b4;
}