@import "../../styles/variables";

.favoritesFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 490px;
  height:auto;
  border-radius: 10px;
  padding: 36px 40px;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(19, 144, 229, 0.8);
  position: absolute;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
  top: 5%;

  @media (max-width: 520px) {
    max-width: 90%;
    top: 3%;
  }
}

.favoritesFormTitle {
  display: flex;
  justify-content: center;
  font-weight: $fontBold;
  font-size: 18px;
}

.favoritesFormGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 36px;
}

.favoritesFormInputContainer {
  display: flex;
  flex-direction: column;
  gap:20px;
  color: $gray;

  input {
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #1717194D;
    font-size: 20px;
    outline: none;

    @media (max-width: 414px) {
      font-size: 18px;
    }
  }

  select {
      padding: 12px 15px;
      border-radius: 10px;
      border: 1px solid #1717194D;
      font-size: 20px;
      outline: none;

    @media (max-width: 414px) {
      font-size: 18px;
    }
  }
}

.favoritesFormTextField {
  display: flex;
  gap: 5px;
  flex-direction: column;
  font-size: 16px;
  color: $gray;

  input {
    color: $gray;

    @media (max-width: 414px) {
      font-size: 16px;
    }
  }

  label {
    color: $dark;

    @media (max-width: 414px) {
      font-size: 16px;
    }
  }

  select {
    color: $gray;

    @media (max-width: 414px) {
      font-size: 16px;
    }
  }
}

.sliderInfo {
  display: flex;
  flex-direction: column;
}

.sliderInfo .title {
  display: flex;
  font-size: 16px;
  justify-content: left;
}

.sliderInfo .sliderParameter {
  display: flex;
  justify-content: space-between;
}

.numberOfResults {
  width: 100px;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #1717194D;
  font-size: 20px;
  outline: none;
  text-align: center;
  color: $dark;

  @media (max-width: 414px) {
    font-size: 16px;
  }
}

.sliderContainer {
  display: flex;
  align-items: center;
  width: 100%;

  input {
    width: 100%;
    margin-right: 20px;
  }
}

.slider {
  width: 100%;
}

.favoritesFormButtonsGroup {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 36px;
}

.favoritesFormButtonBlue {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 100%;

  button {
    padding: 14px 20px;
    border-radius: 10px;
    color: #FAFAFA;
    font-size: 20px;
    font-weight: $fontNormal;
    border: 1px solid;
    background: $siberianBlue;
    cursor: pointer;
    width: 100%;

    @media (max-width: 414px) {
      font-size: 16px;
    }
  }
}

.favoritesFormButtonWhite {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 100%;

  button {
    padding: 14px 20px;
    border-radius: 10px;
    color: $siberianBlue;
    font-size: 20px;
    font-weight: $fontNormal;
    border: 1px solid $siberianBlue;
    background: #fafafa;
    cursor: pointer;
    width: 100%;

    @media (max-width: 414px) {
      font-size: 16px;
    }

  }
}

.errorMessage {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
  color: red;
}
